# build output
dist/
# generated types
.astro/
# eslint
.eslintcache

# dependencies
node_modules/
.venv/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# WB coverage CSVs
*.csv

# environment variables
.env
.env.production

# Internet Archive configuration
ia.ini

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
